@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

.fullArea {
  background-color: #e5e5e5;
}

.purpleArea {
  background-color: #5e50a1;
  max-height: 25rem;
  padding-top: 7em;
}

.whiteColumn {
  background-color: white;
  border-radius: 8px;
}

.hireButton {
  height: 50px;
  background-color: #5e50a1;
  font-weight: bold;
  border-radius: 4px;
  color: white;
  border: none;
}

.imgProfile {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.hireButtonOutline {
  height: 50px;
  background-color: none;
  border-radius: 4px;
  font-weight: bold;
  color: #5e50a1;
  border: 1px solid #5e50a1;
}

.noPadding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.fontBold {
  font-weight: bold;
}

.grayText {
  color: #9ea0a5;
}

.noMargin {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.myBottomBorder {
  border-bottom: 1px solid #c4c4c4;
}

.formHeight {
  height: 50px;
}

.updateImage {
  display: none;
}
