.left_background {
  background-color: #5e50a1;
}

.image_background {
  height: 145vh;
  opacity: 50%;
}

.job_bridge_brand {
  position: absolute;
  top: 5%;
  left: 3%;
  bottom: 0;
  right: 0;
  width: 95px;
}

.job_bridge_brand_word {
  color: white;
  position: absolute;
  top: 50%;
  left: 5%;
  bottom: 45%;
  right: 85%;
  margin: auto;
  width: 400px;
  height: 400px;
  line-height: 2em;
  text-align: justify;
  word-spacing: 8px;
}

.right_column {
  padding-left: 50px;
}

.job_bridge_brand_2 {
  display: none;
  width: 95px;
}

.register_button {
  border-color: #fbb017 !important;
  color: white !important;
  background-color: #fbb017 !important;
  width: 100%;
}

.register_button:hover {
  border-color: #fbb017 !important;
  color: #fbb017 !important;
  background-color: white !important;
  width: 100%;
}

.masuk_disini_word {
  color: #fbb017;
  text-decoration: none;
}

.masuk_disini_word:hover {
  color: #fbb017;
  text-decoration: underline;
}

/* Responsive Design */

@media only screen and (max-width: 600px) {
  .left_background {
    display: none;
  }

  .job_bridge_brand_2 {
    display: block;
    width: 95px;
  }
}
