@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.cardImage {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.cardImageDetails {
  width: 100%;
  height: 200px !important;
  object-fit: cover;
  border-radius: 4px;
  padding: 25px;
}

.cardBodyDetails {
  width: 400px !important;
  padding: 10px;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  z-index: 1;
  display: flex;
}

.cardBody {
  padding-top: 10px;
  align-items: center;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cardBodyUpdate {
  padding-top: 10px;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.cardImage1 {
  display: block;
}

.cardContent {
  display: block;
}

.boxButton {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonDetails {
  border: 2px solid #5f2eea;
  color: #5f2eea !important;
  width: 75%;
  margin-bottom: 20px;
}

.textDesc {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 14px;
  text-align: justify;
}

.buttonUpdate {
  border: 2px solid #fbb017;
  color: #fbb017 !important;
  width: 75%;
  margin-bottom: 20px;
}
.buttonDelete {
  border: 2px solid #1f2a36;
  color: #1f2a36 !important;
  width: 75%;
  margin-bottom: 20px;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.text {
  margin-top: 20px;
  color: white;
  text-align: justify;
  font-weight: 500;
  font-size: 14px;
}

.detail {
  background-color: white !important;
  color: #5f2eea !important;
  border-color: #5f2eea !important;
}

.buttonDetails:focus,
.buttonDetails:hover,
.buttonDetails:hover {
  outline: none !important;
  box-shadow: none !important;
  background-color: #5f2eea;
  color: white !important;
}

.buttonDelete:focus,
.buttonDelete:hover,
.buttonDelete:hover {
  outline: none !important;
  box-shadow: none !important;
  background-color: #1f2a36;
  color: white !important;
}

.buttonUpdate:focus,
.buttonUpdate:hover,
.buttonUpdate:hover {
  outline: none !important;
  box-shadow: none !important;
  background-color: #fbb017;
  color: white !important;
}

@media (max-width: 991.98px) {
  .cardBody {
    padding-top: 10px;
    align-items: center;
  }

  .cardImage {
    width: auto;
    height: 130px;
  }

  .cardBody:hover {
    width: 180px;
    height: auto;
  }
  .title {
    font-size: 13px;
  }
  .text {
    font-size: 10px;
  }
  .bookingShowing,
  .detail {
    font-size: 12px;
  }
}
