@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.container {
  font-family: "Open Sans", sans-serif;
  background-color: white;
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.containerNavbar {
  padding-left: 0;
  padding-right: 0;
}
.purpleText {
  color: #5e50a1;
}

.purpleBackground {
  background-color: #5e50a1;
}

.purpleButton {
  background-color: #5e50a1;
  border: 1px solid #5e50a1;
  border-radius: 4px;
  height: 44px;
  width: 100px;
  color: white;
  font-weight: 500;
  margin-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.purpleButton:active,
.purpleButton:hover,
.purpleButton:focus {
  font-weight: 500;
  color: white;
  background-color: #fbb017;
  border-color: #fbb017;
  outline: none !important;
  box-shadow: none !important;
}

.purpleButtonOutline {
  background-color: white;
  color: #5e50a1;
  font-weight: 600;
  border: 1px solid #5e50a1;
  margin-right: 9px;
  border-radius: 4px;
  height: 44px;
  width: 100px;
  margin-top: auto;
  margin-bottom: auto;
}

.purpleButtonOutline:active,
.purpleButtonOutline:hover,
.purpleButtonOutline:focus {
  color: white;
  font-weight: 500;
  background-color: #fbb017;
  border-color: #fbb017;
  outline: none !important;
  box-shadow: none !important;
}

.handleResponsive {
  display: none;
}

.dropdown {
  height: max-content;
  margin-left: 10px;
}

.dropdownNotification {
  height: max-content;
  margin-left: 10px;
}

.dropdownDaftar {
  height: max-content;
  margin: 0;
  padding: 0;
}

.imgProfile {
  border-radius: 100%;
}

.listSort {
  border-radius: 3px;
  font-weight: lighter;
  color: white;
}
.titleSort:hover,
.titleSort:active,
.titleSort:focus,
.listSort:hover,
.listSort:focus {
  outline: none !important;
  box-shadow: none !important;
  background-color: #fbb017;
  color: #e5e5e5;
}
.titleSort::after {
  display: none;
}

.titleSortNotification::after {
  display: none;
}
.titleSortDaftar {
  margin: 0;
  padding: 0;
}

.titleSortDaftar:hover,
.titleSortDaftar:active,
.titleSortDaftar:focus {
  outline: none !important;
  box-shadow: none !important;
  margin: 0;
  padding: 0;
}

.titleSortDaftar::after {
  display: none;
}
.menuDropdown {
  border: 3px solid #dedede;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #5e50a1;
}

.menuDropdownNotification {
  border: 3px solid #dedede;
  height: 300px;
  width: 300px;
  align-items: center;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
}

.rowNotification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat {
  margin-top: 40px;
}

.textChat {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #1f2a36;
}

.menuDropdownDaftar {
  border: 3px solid #dedede;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 40px;
  background-color: #5e50a1;
}

@media (max-width: 992px) {
  .titleSortDaftar {
    width: 100%;
  }
  .purpleButtonOutline {
<<<<<<< HEAD
    /* width: 100%; */
=======
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
>>>>>>> ee9ae3e6444d87c03fa58ee03299fb1c71df488d
    text-align: center;
    padding-right: 0;
    margin: 0;
    padding-left: 20px;
    font-weight: bold;
    border: transparent;
    text-align: left;
  }
  .purpleButton {
<<<<<<< HEAD
    /* width: 100%; */
    background-color: #5e50a1;
    color: white;
    font-weight: bold;
    margin-left: 0px !important;
    text-align: center;
    background-color: #e5e5e5;
    border: #e5e5e5 solid 2px;
=======
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
    margin: 0;
    color: #5e50a1;
    background-color: transparent;
    border: transparent;
    font-weight: bold;
    text-align: left;
>>>>>>> ee9ae3e6444d87c03fa58ee03299fb1c71df488d
  }
}

.mail,
.bell,
.imgProfile {
  display: none;
}

/* .jobBridgeColor {
  margin-top: 20px;
} */

.titleSort {
  color: #5e50a1;
  border-radius: 0;
  width: 100%;
}
.handleResponsive {
  margin-top: auto;
  margin-bottom: auto;
  display: block;
  text-align: left;
  font-weight: bold;
}
