@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.container {
  font-family: "Open Sans", sans-serif;
  background-color: #e5e5e5;
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.containerNavbar {
  padding-left: 0;
  padding-right: 0;
}

.purpleText {
  color: #5e50a1;
}

.purpleBackground {
  background-color: #5e50a1;
}

.purpleButton {
  background-color: #5e50a1;
  border: 1px solid #5e50a1;
  border-radius: 4px;
  height: 44px;
  width: 100px;
  color: white;
  font-weight: lighter;
  margin-left: 20px;
}

.purpleButton:active,
.purpleButton:hover,
.purpleButton:focus {
  color: white;
  background-color: #fbb017;
  border-color: #fbb017;
  outline: none !important;
  box-shadow: none !important;
}

.purpleButtonOutline {
  background-color: white;
  color: #5e50a1;
  font-weight: bold;
  border: 1px solid #5e50a1;
  border-radius: 4px;
  height: 44px;
  width: 100px;
}

.purpleButtonOutline:active,
.purpleButtonOutline:hover,
.purpleButtonOutline:focus {
  color: white;
  font-weight: lighter;
  background-color: #fbb017;
  border-color: #fbb017;
  outline: none !important;
  box-shadow: none !important;
}

/* .bell,
.mail {
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
} */
.dropdown {
  height: max-content;
  margin-left: 10px;
}
.imgProfile {
  border-radius: 100%;
}

.listSort {
  border-radius: 3px;
  font-weight: lighter;
  color: white;
}
.titleSort:hover,
.titleSort:active,
.titleSort:focus,
.listSort:hover,
.listSort:focus {
  outline: none !important;
  box-shadow: none !important;
  background-color: #fbb017;
  color: #e5e5e5;
}

.titleSort::after {
  display: none;
}

.menuDropdown {
  border: 3px solid #dedede;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #5e50a1;
}

@media (max-width: 992px) {
  .purpleButton {
    margin-left: 0;
  }
}
