@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.container {
  padding-top: 90px !important;
  font-family: "Open Sans", sans-serif;
}

.top_jobs_background {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 50px;
  height: 75px;
  background-color: #5e50a1;
  border-radius: 10px;
}

.form_size {
  width: 81% !important;
  margin-left: 10% !important;
}
.placeholder {
  font-size: 15px;
  height: 45px;
  border-left: 2px solid #5e50a1;
  border-top: 2px solid #5e50a1;
  border-bottom: 2px solid #5e50a1;
  border-right: 0;
}

.placeholder:focus,
.placeholder:active,
.placeholder option:focus,
.placeholder option:active {
  outline: none !important;
  box-shadow: none !important;
  border: 2px solid #5e50a1;
}
.sort_button {
  background-color: white;
  border: 2px solid #5e50a1;
}

.search_button {
  border-color: #5e50a1 !important;
  color: white !important;
  background-color: #5e50a1 !important;
}

.profile_picture_size {
  width: 90px;
  height: 90px;
  object-fit: cover;
}

.skills_position {
  margin-left: -3px !important;
}

.skills_button {
  width: max-content !important;
  border-color: #fbb017 !important;
  color: white !important;
  background-color: #fbb017 !important;
  text-transform: capitalize;
}

.skills_button:hover {
  border-color: #fbb017 !important;
  color: #fbb017 !important;
  background-color: white !important;
}

.line_size {
  width: 81% !important;
  margin-left: 10% !important;
}

.get_profile_button {
  border-color: #5e50a1 !important;
  color: white !important;
  background-color: #5e50a1 !important;
  width: 150px;
  height: 50px;
}

.get_profile_button:hover {
  border-color: #5e50a1 !important;
  color: #5e50a1 !important;
  background-color: white !important;
  width: 150px;
  height: 50px;
}

.dropdown {
  background-color: white;
}
.boxMenu {
  background-color: #5e50a1;
  color: white;
  font-weight: 700;
  border-radius: 10px;
  border: 3px solid #dedede;
  padding-left: 10px;
  padding-right: 10px;
}
.titleSort {
  background-color: white !important;
  color: #5e50a1 !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  border-top: 2px solid #5e50a1 !important;
  border-bottom: 2px solid #5e50a1 !important;
  border-left: 0 !important;
  border-right: 2px solid #5e50a1 !important;
}

.listSort {
  border-radius: 3px;
  font-weight: lighter;
  color: white;
}
.titleSort:hover,
.titleSort:active,
.titleSort:focus,
.listSort:hover,
.listSort:focus {
  outline: none !important;
  box-shadow: none !important;
  background-color: #fbb017;
  color: white;
  font-weight: 500;
}

.pagination {
  margin: 50px auto;
  justify-content: center;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a {
  background-color: #5e50a1;
  border-color: #5e50a1;
  color: #fff !important;
}
.pagination > li > a {
  border: 1px solid #5e50a1;
  padding: 5px 10px;
  margin-left: 20px;
  border-radius: 10%;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #5e50a1;
  border-color: #5e50a1;
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: #5e50a1;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}

/* Responsive Website */

@media only screen and (max-width: 600px) {
  .pagination > li > a {
    margin-left: 5px;
  }
}
