@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.boxContent {
  margin: 0;
  padding: 0;
}

.containerPurple {
  font-family: "Open Sans", sans-serif;
  padding-top: 100px;
  background-color: #5e50a1;
  height: 400px;
  width: 100%;
}

.containerWhite {
  font-family: "Open Sans", sans-serif;
  height: auto;
  margin-top: -400px;
}

.container {
  font-family: "Open Sans", sans-serif;
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: transparent;
  position: relative;
}

.rowContainer {
  justify-content: space-between;
}

.left {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 8px;
  background-color: white;
  margin-right: 35px;
  align-items: center;
}

.boxUpdateImage {
  background-color: transparent;
  color: transparent;
  width: 150px;
  height: 150px;
  padding-top: 20px;
  border-radius: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  visibility: visible;
  top: 40px;
  right: 20px;
  margin: auto;
  cursor: pointer;
}

.updateImage {
  color: transparent;
  width: 80%;
  height: 250px;
  padding-top: 20px;
  border-radius: 100%;
  position: absolute;
  left: 0;
  visibility: hidden;
  top: 40px;
  right: 20px;
  margin: auto;
  cursor: pointer;
}
.bodyToast1 {
  position: fixed;
  display: flex;
  z-index: 4;
  right: 0;
  width: 50%;
  top: 20px;
  background-color: #1f2a36;
  height: 120px;
  margin: auto;
  padding-bottom: 30px;
  border: 3px #e5e5e5 solid;
}
.rocket {
  height: 50px;
  width: auto;
  margin-right: 15px;
}

.titleToast {
  margin-top: auto;
  margin-bottom: auto;
}
.bodyToast {
  position: sticky;
  display: flex;
  z-index: 3;
  right: 0;
  width: 100%;
  height: 100%;
  color: white;
  font-weight: 500;
  margin: auto;
  border-bottom: 15px #e5e5e5 solid;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.imgProfile {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.nameWorker {
  margin-top: 20px;
  width: 100%;
  font-size: 22px;
  font-weight: 600;
  color: #1f2a36;
  text-align: left;
}

.jobWorker {
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #1f2a36;
}

.partJob,
.location,
.phone,
.description {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #9ea0a5;
}

.iconLocation,
.iconPhone {
  margin-right: 10px;
}

.left2 {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin-right: 20px;
  align-items: center;
}

.btnPrev {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  color: #5e50a1;
  width: 96%;
  height: 50px;
  border-radius: 4px;
  background-color: white;
  margin-left: 0;
  margin-right: 35px;
  border: 2px solid #5e50a1;
}

.btnPrev:active,
.btnPrev:hover,
.btnPrev:focus {
  color: white;
  background-color: #fbb017;
  border-color: #fbb017;
  outline: none !important;
  box-shadow: none !important;
  font-weight: 500;
}

.right {
  font-family: "Open Sans", sans-serif;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.col {
  margin-bottom: 20px;
  padding: 0;
  border-radius: 8px;
  background-color: white;
}

.colRight {
  border-radius: 8px;
  padding: 0px 40px 40px 40px;
}

.rowTitleForm {
  padding: 40px 40px 0px 40px;
}
.titleForm {
  font-size: 22px;
  font-weight: 600;
  color: #1f2a36;
}

.span {
  display: flex;
  margin-bottom: 20px;
  width: 100%;
  height: 2px;
  background-color: #e5e5e5;
}

.label {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #9ea0a5;
}

.placeholder {
  height: 45px;
  border-radius: 3px;
  font-size: 14px;
  color: #858d96;
}

.placeholder:focus,
.placeholder:active,
.placeholder option:focus,
.placeholder option:active {
  outline: none !important;
  box-shadow: none !important;
  border: 2px solid #5e50a1;
}

.rowBtnSave,
.rowBtnSave1 {
  justify-content: flex-end;
  align-items: center;
}

.btnSave {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  color: white;
  width: 100px;
  height: 45px;
  border-radius: 4px;
  background-color: #fbb017;
  border-color: #fbb017;
}

.btnSave:active,
.btnSave:hover,
.btnSave:focus {
  color: white;
  background-color: #5e50a1;
  border-color: #5e50a1;
  outline: none !important;
  box-shadow: none !important;
}

.skill {
  margin-top: 20px;
}

.colSkill {
  border-radius: 5px;
  background-color: rgba(251, 176, 23, 0.6);
  border: 1px solid #fbb017;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding: 0;
  width: max-content;
}
.colIndex {
  text-align: justify;
}

.menuSkill {
  /* margin-top: 40px; */
  border-radius: 4px;
  height: 28px;
  font-size: 12px;
  font-weight: 600;
  color: white;
  background-color: brown;
}

.nameSkill {
  text-transform: capitalize;
  margin-top: auto;
  margin-bottom: auto;
  color: white;
  font-size: 15px;
  font-weight: 500;
  margin-left: 10px;
}

.iconEdit {
  position: absolute;
  width: auto;
  height: 15px;
  justify-content: flex-end;
  align-items: flex-end;
  cursor: pointer;
  right: 20px;
  bottom: 0;
  top: 0;
  margin: auto;
}

.iconDelete {
  position: absolute;
  width: auto;
  height: 15px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  right: 30px;
  bottom: 0;
  top: 0;
  margin: auto;
}

.btnAddExperienceWork {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  color: #fbb017;
  width: 100%;
  height: 45px;
  border-radius: 4px;
  background-color: white;
  border-color: #fbb017;
}

.btnAddExperienceWork:active,
.btnAddExperienceWork:hover,
.btnAddExperienceWork:focus {
  color: white;
  font-weight: 500;
  background-color: #fbb017;
  border-color: #fbb017;
  outline: none !important;
  box-shadow: none !important;
}
@media (max-width: 992px) {
  .container {
    width: 90%;
    margin-top: 0;
    margin-left: 30px;
    padding-right: 0;
    padding-top: 110px;
  }

  .right {
    margin-top: 40px;
    margin-right: 20px;
  }

  .rowBtnSave {
    margin-top: 20px;
    width: min-content;
  }

  .btnAddExperienceWork {
    width: 100%;
    font-size: 14px;
  }
  .btnSave {
    margin-top: 0;
  }
}
