@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.zeroPadding {
  padding-left: 0px !important;
}

.zeroPaddingRight {
  padding-right: 0px !important;
}

.logo {
  margin-bottom: 20px;
}

.purpleBackground {
  background-color: #5e50a1;
  color: white;
  font-family: "Open Sans", sans-serif;
}

.belowBorder {
  border-bottom: 1px solid white;
}

.topBorder {
  border-top: 1px solid white;
}
